<nav class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0 shadow mb-3">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#"><span data-feather="cpu"></span> Process
    {{processId}}</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul class="nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/process', processId, 'general']" routerLinkActive="active">
        General
      </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/processes" routerLinkActive="active">
        Advanced
      </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/processes" routerLinkActive="active">
        Control flow
      </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/process', processId, 'logs']" routerLinkActive="active">
        Logs
      </a>
        </li>
    </ul>
    <nav class="nav px-3 text-dark">
        <i-feather name="refresh-cw" *ngIf="process?.pm2_env?.status === 'online'" class="ico text-primary" placement="top" ngbTooltip="Restart"></i-feather>
        <i-feather name="stop-circle" *ngIf="process?.pm2_env?.status === 'online'" class="ico text-danger" placement="top" ngbTooltip="Stop"></i-feather>
        <i-feather name="play-circle" *ngIf="process?.pm2_env?.status !== 'online'" class="ico text-success" placement="top" ngbTooltip="Start"></i-feather>
        <i-feather name="trash" class="ico text-danger" placement="top" ngbTooltip="Delete"></i-feather>
    </nav>
</nav>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400&display=swap" rel="stylesheet">
<router-outlet></router-outlet>