<nav class="navbar navbar-dark sticky-top bg-dark justify-content-start align-items-end p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#"><span data-feather="cpu"></span> PM2-UI</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
    data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <app-tabbar></app-tabbar>
  <nav class="nav px-3 text-dark ml-auto align-items-center">
    <a class="nav-link text-dark" href="#" placement="bottom" ngbTooltip="Change name and password"><span
        data-feather="user"></span> Colin</a>
    <a class="nav-link text-dark" href="#" placement="bottom" ngbTooltip="Maximize"><span
        data-feather="maximize"></span></a>
    <a class="nav-link text-dark" href="#" placement="bottom" ngbTooltip="Light Mode"><span
        data-feather="sun"></span></a>
    <a class="nav-link text-dark" href="#" placement="bottom" ngbTooltip="Sign out"><span
        data-feather="log-out"></span></a>
  </nav>
</nav>